body{
  margin: 100px 250px 100px 250px;
  background-image: linear-gradient(to bottom right, #1d2e3c, #0d3452, #e6c3a3);
  color:antiquewhite;
}

.card{
  margin: 25px 50px 50px 25px;
  color: #0d3452;
  font-weight: bolder;
}

.card-link{
  text-align: center;
}

label{
  margin: 10px;
  font-size: 25px;
}

/* #javascript{
  display: none;
}

#python{
  display: none;
}

#rust{
  display: none;
} */